body {
    font-family: 'Poppins', sans-serif;
}

/* --------main section styles ---------- */
/* Top section  */
.top-banner {
    background-color: black;
    width: 900px;
    height: 400px;
    margin-top: 50px;
    margin-left: 100px;
    border-radius: 20px;
    margin-bottom: 100px;

}

.container {
    display: flex;
}

.heading-text {
    color: white;
    padding-left: 20px;
}

.heading-text h1 {
    font-weight: 700;
    font-size: 50px;
}

.heading-text a {
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.banner-image {
    padding-top: 50px;
}

.banner-image img {
    height: 350px;
}

/* ----Middle section----- */

.mid-secton {
    display: flex;
    margin-bottom: 100px;

}

/* ---------menu start----------- */
.menu-bar {
    width: 250px;
    height: 212px;
    border: 2px solid;
    background-color: black;
    border-radius: 10px;
    margin-right: 20px;
}

.menu li {
    list-style: none;
    padding-top: 20px;

}

.button {
    width: 130px;
    height: 40px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 5px;
}

#blog-button {
    background-color: red;
}

/* ----------menu end ----------- */

/* ---------------blogs start ---------------- */
.all-blogs {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 20px;
}

.match-box {
    width: 210px;
    height: 282px;
    box-shadow: 5px 10px 5px lightgray;
    border-radius: 10px;
}

.blog-image img {
    width: 200px;
}

.blog {
    font-size: 20px;
}

.icons {
    display: inline;
    white-space: nowrap;
    float: initial;
}

/* ------------------ blogs end ---------------- */

/* -------------------footer ------------ */
footer {
    border: 2px solid;
    height: 300px;
    background-color: rgba(6, 6, 26, 0.973);
}

footer h1 {
    text-align: center;
    padding-top: 70px;
    color: white;
}

footer hr {
    margin-bottom: 20px;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 20px;
    margin-left: 20px;
}

.links {
    margin-left: 400px;
    padding-top: 20px;
}
/* -------------media query------------ */

/* ===============Responsive For Mobile============== */
@media only screen and (max-width: 688px) {
    .top-banner {
        width: 334px;
        height: 672px;

    }

    .heading-text h1 {
        text-align: center;
        font-size: 28px;
        margin-left: 50px;
    }

    .heading-text p {
        display: none;

    }

    .heading-text a {
        margin-left: 50px;
    }

    .banner-image {
        position: relative;
        width: 250px;
        height: 245px;
        right: 180px;
        top: 250px;
    }
    .mid-secton, .all-blogs{
        display: grid;
        grid-template-columns: repeat(1 ,1fr);
        padding-left: 50px;
    }
    footer{
        width: 100%;
        height: 500px;
    }
    footer a{
        display: inline-block;
    }

}
/* =============Responsive For Tablet========== */
@media only screen and (min-width:689px) and (max-width:992px) {
    .top-banner{
        right: 100px;
    }
    .menu-bar{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
    .mid-secton, .all-blogs{
        display: grid;
        grid-template-columns: repeat(2 ,1fr);
        padding-left: 50px;
    }    
    footer{
        width: 992px;
    }
}


